.intro__subtitle {
    color: #FFCDA9;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    margin-bottom: 40px;
}

@media screen and (max-width: 575px) {
    .intro__subtitle {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 419px) {
    .intro__subtitle {
        text-align: center;
    }
}