.travel__item-text {
  padding: 70px 70px 75px 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .travel__item-text {
    padding: 60px;
  }
}

@media screen and (max-width: 767px) {
  .travel__item-text {
    padding: 20px;
  }
}