.header__link {
    display: flex;
    margin-right: 36px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    transition: transform 0.5s;
}

.header__link:hover {
    transform: translateY(-3px);
}

@media screen and (max-width: 419px) {
    .header__link {
        margin: 0 10px;
    }
}

