.talk__container {
  margin: 0;
  padding: 0;
  margin-top: 130px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 65px;
}

@media screen and (max-width: 1023px) {
  .talk__container {
    margin-top: 70px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }
}

@media screen and (max-width: 767px) {
  .talk__container {
    column-gap: 50px;
  }
}

@media screen and (max-width: 575px) {
  .talk__container {
    column-gap: 25px;
  }
}

@media screen and (max-width: 419px) {
  .talk__container {
    grid-template-columns: 1fr;
  }
}