.video__title {
  position: absolute;
  left: 70px;
  top: 140px;
  color: #fff;
  z-index: 1;
  font-weight: bold;
  font-size: 39px;
  max-width: 670px;
}

@media screen and (max-width: 1023px) {
  .video__title {
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .video__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 575px) {
  .video__title {
    font-size: 23px;
    top: 20px;
  }
}