.header__button {
    color: #000;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
    padding: 0;

}

.header__button:focus {
    outline: 0;
}

@media screen and (max-width: 472px) {
    .header__button {
        margin-top: 10px;
    }
}