.destination__textarea {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 110px;
  resize: none;
  box-sizing: border-box;
  font-size: 15px;
  border: 0;
}

.destination__textarea::placeholder {
  color: #000;
}
